

<div class="container">
  <div class="d-flex">
    <p class="mb-0 mt-3 text-black-50"> <%= link_to "Home", root_path %>  > <%= link_to "WineExperiences", wine_experiences_path%> > <%= @wine_experience.title %> </p>
  </div>

  <div class="container shadow">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="product-images d-inline">
          <% @wine_experience.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class:"mx-auto d-block border" %>
          <% end %>
        </div>
      </div>
    
      <div class="col-lg-5 col-md-5 col-sm-12">
    
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
        
            <% @wine_experience.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= "active" if index.zero? %> mt-5">
                <%= cl_image_tag photo.key, height: "750px", width: "450px", class:"img-carrousel" %>
              </div>
            <% end %>
          </div>  
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
    </div>

    <div class="card-trip-infos text-center col-lg-4 col-md-4 col-sm-12 mt-5">
      <h2 class="mt-3"><%= @wine_experience.title %>  &#127863</h2>
      <span class="wine-description"><%= @wine_experience.description %></span>
      <h6 class= "date mt-5" >&#128198 Fecha: </h6>
      <h6><strong>&#128204<%= time_tag(@wine_experience.date, :format=>'%d-%m-%Y, %l:%M %p') %></strong></h6>
      <h6>&#128205 Lugar de encuentro:</h6>
      <h6><strong><%= @wine_experience.address %></strong></h6>
      <p><strong>Precio: <%= @wine_experience.price %> Arg</strong></p>
    
      <%= link_to wine_experience_bookings_path(@wine_experience), method: :post, id: "book-link", class: "hidden"  do %>
      <button id="sweet-alert-demo" class="btn buy-button">Reservar Ahora &#127915</button>
      <% end %>
    </div>

    </div>  
  </div>  
</div>
  





