<!DOCTYPE html>
<html>
  <head>
    <title>WINO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>


    <div class="container mt-0">
    <p>Con Wine Experience vivís la experiencia de cata de tus vinos preferidos de la manera más segura y cómoda. Encontrá las mejores bodagas y los vinos más exquisitos, compartiendo un día con la mejor compañía.</p>
      <%= render 'shared/flashes' %>
    </div>
    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <p>Seguinos en nuestras redes:</p>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    <div class="footer-copyright">
      <ul><strong>Más</strong>
      <li><a href="#">Atención al cliente</a></li>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Condiciones de uso</a></li>
      <li><a href="#">Políticas de privacidad y protección de datos</a></li>
      </ul>
      <p>© Wine Experience, an Argentinian company. Todos los derechos reservados.</p>
    </div>
  </body>
</html>
